<!DOCTYPE html>
<html lang="en">
<head>
    <link
    rel="stylesheet"
    href="{{url_for('static', filename='homepage.css')}}"
  />
      <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangman</title>
</head>
<body>
    <section href="#home" class="home">
        <h1><span class="glitch" data-text="H_NGM_N">
            HANGMAN
          </span></h1>
          <a href="/hangman"><button class="play-button">
            <div class="play-icon"></div>
        </button></a>
    </section>
    <section href="menu">

    </section>
</body>
</html>